<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Server</title>
    <link rel="stylesheet" href="style.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js' integrity='sha512-EZI2cBcGPnmR89wTgVnN3602Yyi7muWo8y1B3a8WmIv1J9tYG+udH4LvmYjLiGp37yHB7FfaPBo8ly178m9g4Q==' crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js' integrity='sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==' crossorigin='anonymous'></script>
</head>
<body>
    <!-- Create nav -->
    <nav>
        <div class="horizontal">
            <div class="logo" class="link">
                <span  class="link">File Server</span>
            </div>
            <div class="links">
                <a href="/" class="link">Home</a>
                {{#if user}}
                    <a href="/upload" class="link">Upload</a>
                    <a href="/logout" class="link">Logout</a>
                {{else}}
                    <a href="/admin" class="link">Admin</a>
                {{/if}}
                {{!-- <a href="/" class="link">About</a> --}}
            </div>
        </div>
    </nav>

    {{{body}}}


</body>
</html>